{sys, [
       {lib_dirs, ["../", "../deps/"]},
       {rel, "main", "1",
        [
         kernel,
         stdlib,
         sasl,
         slogserver
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "main"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, hipe, [{incl_cond, exclude}]},
       {app, slogserver, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "main"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/main", "bin/main"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
